<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<h1 th:text="'YANA SPIRIDONOVA'"> </h1>
<body>
<form action="#" th:action="@{/}" th:object="${numberForm}" method="post">
    <table>
        <tr>
            <td>Teclée un número:</td>
            <td><input type="text" th:field="*{num}" /></td>
            <td th:if="${#fields.hasErrors('num')}" th:errors="*{num}">ERROR NÚMERO</td>
        </tr>
        <tr>
            <td><button type="submit">Enviar</button></td>
        </tr>
    </table>
</form>
</body>
</html>